@font-face{
    font-family:"tesla";
    src:url(../fontes/tesla/TESLA.ttf)
}
*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #242424;
}
main{
    margin:auto;
    height: 62vh;
    background-color: rgb(243, 241, 241);
    padding: 30px 30px 115px 30px;

}
#titulo-principal{
    text-align:center;
    font-family: "tesla";
    margin-top:35px;
    font-size:2.7em;
}
#conteudo{
    display:flex;
    justify-content: space-between;
    margin-top:130px;
    padding:0px 30px 5px 30px;
}
#text-container{
    display:flex;
    width:45%;
    font-size:1.3em;
    align-items:center;
}
#texto{
    border: 3px solid black;
    border-radius:3px;
    padding:10px 5px;
}
#img-principal{
    margin-top:-20px;
    height:250px;
    width:141;
}